<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.order(created_at: :desc).limit(10).each do |ripple| %>
      <tr>
        <td><%= ripple.name %></td>
        <td><%= ripple.message.truncate(50, omission: '...') %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ripple', new_ripple_path %>
