<p id="notice"><%= notice %></p>

<p>
  <strong>
    <% if @ripple.url.empty? %>
        <td><%= @ripple.name %></td>
    <% else %>
        <td><%= link_to @ripple.name, sitelink(@ripple.url), :target => "_blank" %></td>
    <% end %>
    said:
  </strong>
</p>

<p>
  <%= simple_format(@ripple.message, class: 'message') %>
</p>

<%= link_to 'Back', ripples_path %>
